# Python
venv310/
__pycache__/
*.pyc

# Logs
*.log
backend/logs/

# Database
*.db

# ML Data (IMPORTANT)
ml/data/
ml/data/raw/
ml/data/processed/

# Models (optional but recommended)
ml/models/*.pt
ml/models/*.pkl

# Node
node_modules/
dist/

# Env files
.env